<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>
      <%= t 'count_x.answer', count: answers.size %>
    </h2>
  </div>
  <div class="col-md-2">
    <div class="new-answer text-center">
      <%= icon_link_to :plus, t('answer.new.action'), '#answer', class: 'btn btn-success' %>
    </div>
  </div>
</div>

<hr/>

<% if answers.any? %>
  <div class="row">
    <div class="col-md-12">
      <ol class="question-answers">
        <% answers.each do |answer| %>
          <%= render 'questions/answer', answer: answer %>
        <% end %>
      </ol>
    </div>
  </div>

  <hr/>
<% end %>
