<div class="row">
  <div class="col-md-2">
    <section class="text-center">
      <%= icon_link_to :plus, t('answer.new.feature'), '#new_answer', id: :'new-answer', class: 'btn btn-success' %>
    </section>
  </div>

  <div class="col-md-8">
    <section>
      <h2>
        <%= t 'question.answers', count: answers.size %>
      </h2>
    </section>
  </div>
</div>

<hr/>

<% answers.each do |answer| %>
  <%= render 'questions/answer', answer: answer %>
<% end %>
