<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <section>
      <h2>
        <!-- TODO(zbell) add count -->
        <%= t 'question.answers', count: @answers.size %>
      </h2>

      <hr/>
    </section>
  </div>
</div>


<% answers.each do |answer| %>
  <%= render 'questions/answer', answer:answer %>
<% end %>
