<section id="questions-controls">
  <%= icon_link_to :plus, t('question.new.feature'), new_question_path, id: :'new-question', class: 'btn btn-success pull-right' %>

  <%# TODO (smolnar) dry %>
  <ul class="nav nav-tabs">
    <%= tab_link_tag t('question.tab.new'), :'questions-new', questions_path(params.merge(tab: :'questions-new')), remote: true %>
    <%= tab_link_tag t('question.tab.favored'), :'questions-favored', questions_path(params.merge(tab: :'questions-favored')), remote: true %>
    <%= tab_link_tag t('question.tab.answered'), :'questions-answered', questions_path(params.merge(tab: :'questions-answered')), remote: true %>
  </ul>
</section>
<!-- TODO(zbell) add some navigation here: old / new q. etc. -->
