<div id="question-<%= question.id %>-favoring" class="question-favoring">
  <% if question.favored_by? current_user %>
    <%= icon_link_to :star, nil, favor_question_path(question), data: { remote: true }, id: :favor_question, class: :'question-favored' %>
  <% else %>
    <%= icon_link_to :'star-o', nil, favor_question_path(question), data: { remote: true }, id: :favor_question %>
  <% end %>

  <% if question.favorites.size > 0 %>
    <span class="text-muted"><%= question.favorites.size %></span>
  <% end %>
</div>
