<div class="question-favouring">
  <% if question.favoured_by? current_user %>
    <%= icon_link_to :star, nil, favour_question_path, data: { remote: true }, class: :favoured %>
  <% else %>
    <%= icon_link_to :'star-o', nil, favour_question_path, data: { remote: true } %>
  <% end %>

  <% if @question.favorites.size > 0 %>
    <span><%= @question.favorites.size %></span>
  <% end %>
</div>
