<!-- TODO(zbell) fill content & links to tags -->
<ul class="nav nav-labels">
  <% labels.each do |label| %>
    <li>
      <%= link_to "#{label.name} (#{label.count})", '#', data: { id: label.is_a?(Category) ? label.tags.join(',') : label.name  }, class: "label label-#{label.is_a?(Category) ? :'primary question-category' : :'info question-tag' }" %>
    </li>
  <% end %>
</ul>
