<!-- TODO(zbell) fill content & links to tags -->
<ul class="nav nav-labels">
  <% labels.each do |label| %>
    <li><a class="label label-<%= label.is_a?(Category) ? :success : :primary %>" href="#"><%= label.name %> (10)</a></li>
  <% end %>
</ul>
