<!-- TODO(zbell) fill content & links to tags -->
<ul class="nav nav-labels">
  <% labels.each do |label| %>
    <li><a class="label label-<%= label.is_a?(Category) ? :primary : :info %>" href="#"><%= label.name %> (<%= label.count %>)</a></li>
  <% end %>
</ul>
