<!-- TODO(zbell) fix content & links! -->
<div class="question-voting">
  <%= icon_link_to :'chevron-up', nil, '#' %>

  <span>
    123
  </span>

  <%= icon_link_to :'chevron-down', nil, '#' %>
</div>
