<% provide(:title, 'questions.index') %>
<h1>Zobrazenie otazok</h1>

<%= paginate @questions %>
<div id="questions">
  <% render @questions%>
</div>
<p><%= link_to "New question", new_question_path %></p>
