<% provide(:title, 'questions.index') %>

<div class="row">
  <div class="col-md-12">
    <section>
      <div class="page-header">
        <h1>Zobrazenie otázok</h1>
      </div>

      <%= render 'questions', questions: @questions %>

      <p><%= link_to "New question", new_question_path %></p>
    </section>
  </div>
</div>
