<% provide :title, t('question.index.title') %>

<div class="row">
  <div class="col-md-12">
    <section>
      <div class="page-header">
        <h1>
          <%= t 'question.index.title' %>

          <%= icon_link_to :plus, t('question.new.feature'), new_question_path, id: :'new-question', class: 'btn btn-success pull-right' %>
        </h1>
      </div>
    </section>
  </div>
</div>

<!-- TODO(zbell) add some navigation here: old / new q. etc. -->

<%= render 'questions', questions: @questions %>
