<h1><%= @question.title %></h1>

<div class="row">

  <div class="col-md-2">
    <%= gravatar_image_tag @question.author.email, class: :'img-square' %>

    <div class="form-group">
      <%= @question.author.nick %>
    </div>
  </div>

  <div class="col-md-4">
    <%= @question.text %>
  </div>

</div>
