<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>
          na&#x042f;uby <span data-placement="top" data-toggle="tooltip" data-original-title="Community Question Answering">CQA</span> <%= icon_tag :'comments-o' %>
        </h1>

        <p>
          Webový komunitný systém otázok a odpovedí ďalšej generácie
        </p>
      </div>

      <div class="col-md-2">
        <%= icon_link_to :'plus-circle', t('question.new.feature'), new_question_path, id: :'new-question', class: 'btn btn-success btn-lg', fixed: true %>
      </div>
    </div>
  </div>
</div>
