<div class="jumbotron">
  <div class="container">
    <h1>na&#x042f;uby <span data-placement="top" data-toggle="tooltip" data-original-title="Community Question Answering">CQA</span> <%= icon_tag :'comments-o' %></h1>
    <p>Webový komunitný systém otázok a odpovedí ďalšej generácie</p>
  </div>
</div>
