<div class="jumbotron">
  <div class="container">
    <h1>
      na&#x042f;uby <span data-placement="top" data-toggle="tooltip" data-original-title="Community Question Answering">CQA</span> <%= icon_tag :'comments-o' %>

      <span class="pull-right">
        <%= icon_link_to :'plus-circle', t('question.new.title'), new_question_path(@question), class: 'btn btn-success btn-lg', fixed: true %>
      </span>
      <br/>
      <span class="pull-right">
        <%= icon_link_to :'plus-circle', t('question.index.title'), question_path(@question), class: 'btn btn-success btn-lg', fixed: true %>
      </span>
    </h1>

    <p>
      Webový komunitný systém otázok a odpovedí ďalšej generácie
    </p>
  </div>
</div>
