<ol class="list-unstyled text-center">
  <% questions.each do |question| %>
    <li>
      <%= link_to truncate(question.title, length: 40, separator: ' '), question %>
      <small><%= truncate(question.text, length: 80, separator: ' ') %></small>
    </li>
  <% end %>
</ol>
