<ol class="list-unstyled">
  <% questions.each do |question| %>
    <li>
      <h4><%= link_to truncate(question.title, length: 35, separator: ' '), question %></h4>
      <%= truncate(question.text, length: 80, separator: ' ') %>
    </li>
  <% end %>
</ol>
