<% provide :title, t('user.welcome.title') %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <section id="welcome">
      <h1 class="form-title"><%= yield :title %></h1>
      <p><%= t('user.welcome.message') %></p>
    </section>
  </div>
</div>
