<% provide(:title, t('tag.search.title')) %>

<%= render 'shared/searchables/search', target: controller_name %>

<ul class="nav nav-tabs tab-navigation">
  <%= tab_link_tag_with_count t('tag.tab.results'), :results, search_tags_path(params.symbolize_keys.slice(:q, :page).merge tab: :results), @results.total_entries, analytics_attributes(:tags, :search, :results).merge(remote: true, data: { fade: '#tags' }) %>
</ul>

<div class="tab-content">
  <%= render 'tags', tags: @results, remote: false %>
</div>
