<li>
  <div class="row">
    <div class="col-xs-9">
      <%= news.title %>
    </div>

    <div class="col-xs-1">
      <div class="pull-right">
        <%= render 'shared/administration/news/editing', news: news %>
        <span class="text-muted">&middot;</span>
        <%= render 'shared/administration/news/deleting', news: news %>
      </div>
    </div>
  </div>
</li>
