<% if can? :edit, user %>
  <div class="pull-right visible-lg">
    <%= link_to t('user.show.edit'), edit_user_registration_path, class: 'btn btn-default' %>
  </div>
<% end %>

<%= render 'shared/users/profile/following', user: user %>
