<div id="users" class="users tab-content">
  <% if users.any? %>
    <div class="row">
      <% users.each do |user| %>
        <div class="col-xs-6 col-sm-4 col-md-2">
          <%= render 'square', user: user, following: true, teacher: user.role?(:teacher), administrator: user.role?(:administrator) %>
        </div>
      <% end %>
    </div>

    <% if remote %>
      <%= paginate users, remote: true, data: { state: true, scroll: :body, fade: '#users' } %>
    <% else %>
      <%= paginate users %>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      <%= t('user.no_records') %>
    </div>
  <% end %>
</div>
