.bundle
.idea
.project
.sass-cache
.tags
.vim
.byebug_history

.~lock.*
*.*~
~*
~*
*.swo
*.swp
**/*.swo
**/*.swp

/tags

Gemfile.lock.tags

config/configuration.yml
config/database.yml
config/newrelic.yml

coverage

.byebug_history

data/android_dump
data/so_dump

db/*.sqlite3
log/*.log

public/javascripts
public/attachments/*
!public/attachments/.gitkeep

vendor/bundle

tmp
spec/specs_with_statuses_mooc.txt
spec/specs_with_statuses_university.txt
