.bundle
.idea
.project
.sass-cache
.tags

.~lock.*
*.*~

/tags

Gemfile.lock.tags

config/configuration.yml
config/database.yml
config/newrelic.yml

coverage

db/*.sqlite3
log/*.log

public/javascripts

tmp
