<div id="document-content">
  <% if questions.any? %>
    <ol class="user-questions">
      <% questions.each do |question| %>
        <%= render 'documents/questions/question', question: question %>
      <% end %>
    </ol>

    <%= paginate questions, remote: true, params: { tab: :questions } %>
  <% end %>
</div>
