<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><%= icon_tag data.icon, fixed: true %></span>
    <%= form_field.text_field key, placeholder: data.placeholder, class: :'form-control' %>
  </div>
</div>

