<li id="evaluation-<%= evaluation.id %>">
  <p>
    <%= evaluation.text %> &ndash;
    <%= link_to_user evaluation.evaluator, analytics_attributes(:user, :show, "evaluation-user-#{evaluation.evaluator.name}-link") %>
  </p>
</li>
