<div id="<%= identify evaluable, :evaluating %>" class="<%= model %>-evaluating">
  <% if can? :evaluate, evaluable %>
    <%= render 'evaluations/form', model: model, evaluable: evaluable %>
  <% end %>
</div>
