// collection

.administration-changelogs {
  @extend .list-unstyled;

  margin: 15px 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;

  li {
    margin: 15px 0;
  }
}
