<div id="questions" class="questions tab-content">
  <% if questions.any? %>
    <ol class="list-unstyled">
      <%= render partial: 'question', collection: questions, as: :question %>
    </ol>

    <% if remote %>
      <%= paginate questions, remote: true, data: { state: true, scroll: :body, fade: '#questions' } %>
    <% else %>
      <%= paginate questions %>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      <%= t('question.no_records') %>
    </div>
  <% end %>
</div>
