.bundle
.sass-cache
.tags

.~lock.*
*.*~

/tags

Gemfile.lock.tags

config/configuration.yml
config/database.yml
config/newrelic.yml

coverage

data/android_dump
data/so_dump

db/*.sqlite3
log/*.log

public/javascripts

tmp
