<ul class="nav nav-labels">
  <% labels.each do |label| %>
    <li>
      <%= question_prefix_label label, Shared::Context::Manager.context_category.askalot_page_url, {}, in_questions_index %>
    </li>
  <% end %>
</ul>
