<% provide :title, t('admin.settings') %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked pill-navigation">
        <%= tab_link_tag t('admin.changelog'), :changelog, admin_dashboard_index_path(tab: :changelog), data: { toggle: :pill } %>
        <%= tab_link_tag t('admin.category'), :category, admin_dashboard_index_path(tab: :category), data: { toggle: :pill } %>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="pill-content tab-content">
        <%= render_tab_content 'admin/new_changelog', :changelog %>
        <%= render_tab_content 'admin/edit_category', :category %>
      </div>
    </div>
  </div>
</div>
