    &middot;

    <a href="#" id="category-<%= category.id %>-edit-modal" class="text-muted text-undecorated" data-toggle="modal" data-target="#category-<%= category.id %>-editing">
      <%= tooltip_icon_tag :edit, t('question.edit.action'), placement: :top %>
    </a>


    <div id="category-<%= category.id %>-editing" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>

