<div class="row">
  <% users.each do |user| %>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <%= render 'square', user: user, following: true %>
    </div>
  <% end %>
</div>

<%= paginate users, params: { tab: tab } %>
