<% if users.any? %>
  <% users.each_slice(6) do |users| %>
    <div class="row">
      <% users.each do |user| %>
        <div class="col-md-2">
          <%= render 'square', user: user, following: true %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= paginate users, params: { tab: tab } %>
<% end %>
