<div class="page-overlay">
  <div class="page-login-msg">
    <%= t('page.to_page.description') %>
    <a id="askalot-url" href="<%= @url %>" target="_parent"><%= t('page.to_page.link') %></a>.
  </div>
</div>
