<% if evaluations.any? %>
  <p class="text-muted">
    <%= t 'count.evaluation.one' %> <%= evaluation_icon_tag evaluable %>
  </p>

  <% if evaluations.where.not(text: nil).any? %>
    <ol class="<%= model %>-evaluations">
      <% evaluations.where.not(text: nil).order(:created_at).each do |evaluation| %>
        <%= render 'shared/evaluables/evaluation', evaluation: evaluation %>
      <% end %>
    </ol>
  <% end %>
<% end %>
