@import 'bootstrap/mixins';
@import 'bootstrap/variables';

@import '../../../../../components/shared/app/assets/stylesheets/shared/variables';
@import '../../../../../components/shared/app/assets/stylesheets/shared/mixins';
@import 'bootstrap';

// general

address, p, dl, ol, ul, table {
  &:last-child {
    margin-bottom: 0px;
  }
}

a {
  color: $link-color !important;
}

.text-muted {
  color: $gray-light !important;
}

.centered {
  text-align: center;
}

// header

.header {
  @extend header;

  margin: 40px 0px;

  text-align: center;

  h1 {
    margin: 20px;

    small {
      display: block;
      margin-top: 20px;

      font-size: $font-size-large;

      color: $gray-light !important;
    }
  }
}

// footer

.footer {
  margin: 40px 0px;
}

// sections

.section {
  @extend section;

  ul, p {
    margin-top: 20px !important;
    margin-left: 50px !important;
  }
}

.section + section {
  padding-top: 40px;
}

hr {
  background: $gray-lighter !important;
  height: 1px !important;
}

.title {
  margin-bottom: 15px;
}

ol.notifications {
  li + li {
    margin-top: 10px;
  }

  li:last-child {
    margin-bottom: 40px;
  }
}
