<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><%= icon_tag network.icon, fixed: true %></span>
    <%= form_field.text_field network.key, placeholder: network.placeholder, class: :'form-control' %>
  </div>
</div>

