<%= render 'shared/user_mailer/header' %>

<div>
  <%= @content %>
</div>

<br/>

<p>
  <span class="text-muted">&middot;</span>
  <%= link_to "Zrušiť odoberanie týchto e-mailov", edit_user_registration_url(tab: :notifications) %>
</p>

<%= render 'shared/user_mailer/footer' %>
