<% provide :title, @group.title %>

<h1 class="page-header"><%= @group.title %></h1>
<p class="lead"><%= @group.description %></p>

<%= render 'documents/new' %>

<div class="row">
  <div class="col-md-6">
    <div class="documents-group" id="documents">
      <% @documents.each do |document| %>
        <%= render 'documents/document', document: document, group: @group %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div id="document-content"></div>
  </div>
</div>
