<ol class="user-answers">
  <% answers.each do |answer| %>
    <%= render 'users/answer', answer: answer %>
  <% end %>
</ol>

<div class="row">
  <div class="col-md-12">
    <%= paginate answers, params: { tab: :answers } %>
  </div>
</div>
