<div class="user-square">
  <%= user_avatar_tag user, image: { class: :'img-circle img-responsive', size: 96 } %>

  <span class="user-link">
    <%= link_to_user user %>
  </span>

  <% if user != :anonymous && user.show_name? && !user.name.blank? %>
    <span>
      <%= user.name %>
    </span>
  <% end %>
</div>
