<div class="user-square">
  <%= user_avatar_tag user, size: 96, class: :'img-circle img-responsive', default: asset_url("anonymous.png") %>

  <span>
    <%= link_to_user user %>
  </span>

  <% if user != :anonymous && user.show_name? && !user.name.blank? %>
    <span>
      <%= user.name %>
    </span>
  <% end %>
</div>
