<div id="users" class="users tab-content">
  <% if users.any? %>
    <% users.each_slice(6) do |users| %>
      <div class="row">
        <% users.each do |user| %>
          <div class="col-md-2">
            <%= render 'square', user: user, following: true %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= paginate users, remote: true, data: { state: true, scroll: 'body', fade: '#users' } %>
  <% else %>
    <div class="alert alert-warning">
      <%= t('user.index.no_results_found') %>
    </div>
  <% end %>
</div>
