<div id="users" class="users tab-content">
  <% if users.any?  %>
    <% users.each_slice(6) do |users| %>
      <div class="row">
        <% users.each do |user| %>
          <div class="col-md-2">
            <%= render 'square', user: user %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <%= paginate users %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning">
          <%= t('user.index.no_results_found') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
