<% provide :title, t("user.followers.title") %>

<%= render 'users/top', user: @user %>

<div class="row">
  <div class="col-md-12">
    <h3>
      <%= t("user.followers.title") %>
    </h3>
  </div>
</div>

<%= render 'users', users: @followers %>
