<% provide(:title, 'All users') %>
<h1><%= t('user.navigation') %></h1>

<ul class="nav nav-tabs">
  <%= tab_link_tag_with_count t('user.tab.all'), :'users-all', users_path(params.except(:page).merge tab: :'users-all'), filter_users(User).count, remote: true %>
</ul>

<% @users.in_groups_of(12, false) do |users_group| %>
  <div class="row">
      <% users_group.each do |user| %>
          <div class="col-xs-7 col-sm-2">
              <%= render 'square', user: user %>
          </div>
      <% end %>
  </div>
<% end %>

