<div id="user-<%= followee.id %>-following" class="user-following">
  <% if current_user.following? followee %>
    <%= icon_link_to :'chain-broken', nil, follow_user_path(followee), data: { remote: true }, id: :"user-#{followee.id}-follow", class: :'user-followed' %>
  <% else %>
    <%= icon_link_to :'link', nil, follow_user_path(followee), tooltip_attributes(t('user.follow'), placement: :right).deep_merge(data: { remote: true }, id: :"user-#{followee.id}-follow") %>
  <% end %>
</div>
