<% if flash.any? %>
  <div id="flash">
    <% flash.each do |type, messages| %>
      <% Array.wrap(messages).each do |message| %>
        <div class="alert alert-<%= flash_type_to_class(type) %> alert-dismissable">
          <!-- TODO make html safe -->
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
