<div class="answer-marking">
  <% if current_user == answer.question.author %>
    <%= icon_link_to :check, nil, '#' %>
  <% else %>
    <% if answer.is_best_answer? %>
      <span><%= icon_tag :check %></span>
    <% end %>
  <% end %>
</div>
