// general

.new-evaluation {
  label.btn.active {
    text-decoration: underline;
  }
}

.evaluated {
  bottom: 3px;

  font-size: 0.5em;
}

.evaluated-bad {
  color: $brand-danger;
}

.evaluated-neutral {
  color: $text-muted;
}

.evaluated-good {
  color: $brand-success;
}
