.attachments-section {
  margin-bottom: 10px;
  padding-left: 20px;

  .attachment-details {
    font-size: 13px;
    color: $text-muted;
  }

  > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .comment-attachments {
    margin-top: 5px;
  }
}
