// general

.category-tags {
  margin-bottom: 6px;
}

.supported-category-icon-sm {
  color: #fff;
}

.supported-category-icon-lg {
  color: #999;
}

.category-description {
  color: $gray;
  font-style: italic;
  margin-top: -10px;
  padding-bottom: 15px;
}

.categories-tree .category-description {
  margin-top: 0px;
  padding-bottom: 5px;
}

// collection

.category-group {
  float: left;
  width: 100%;
  padding-left: 20px;
  border-left: 2px solid $hr-border;

  & + & {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid $hr-border;
  }
}

.category-details {
  color: $text-muted;
}

.category-watching {
  @include block-watching(category);

  display: inline;
  font-size: inherit;
}

.categories-tree {
  > ul {
    @extend .list-unstyled;

    > li {
      margin-top: 20px;
      border-top: 1px solid $hr-border;

      &:first-child {
        border-top: none;
        margin-top: 0;
      }

      > div > h4 {
        font-size: 22px;
      }

      > ul {
        @extend .list-unstyled;

        margin-left: 20px;
        padding-left: 30px;
        border-left: 2px solid $hr-border;

        > li {
          > ul {
            @extend .list-unstyled;
            @extend .list-inline;

            margin-left: 30px;

            > li {
              font-size: 13px;
              max-width: 305px;
              vertical-align: top;
              margin-right: 20px;
              margin-bottom: 10px;

              > div > h4  {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  h4 {
    margin-bottom: 3px;
  }
}