// general

.new-comment {
  margin-top: 15px;
}

.comment-teacher {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px !important;
  padding-right: 10px !important;

  .row {
    position: relative;

    > .unread-resource-div {
      right: 5px;
    }
  }
}

// member

.comment-content {
  @include markdown-content;

  display: inline;
  color: $gray;
  margin: 10px 0;
}

.comment-details {
  margin: 5px 0;
}

@media (min-width: $screen-md-min + 1) {
  .comments-column {
    padding-left: 0;
  }
}

@media (max-width: $screen-md-min - 1) {
  .comments-column {
    padding-left: 40px;
  }

  .wrap-new-comment {
    margin-bottom: 10px;
    margin-left: 25px;
  }
}
