@media screen and (min-width: $screen-md-min) {
  .remove-grid-md > * {
    float: none; width: auto;
  }

  .dashboard {
    #fulltext-search {
      max-width: 300px;
    }
  }
}

.dashboard-description {
  margin-bottom: 10px !important;
}

.label-new-news {
  margin-left: 10px !important;
}

.dashboard {
  .headline {
    margin-bottom: 10px;

    h1 {
      font-variant: small-caps;
      margin-top: 25px;
    }

    p {
      @extend .text-muted;

      font-style: italic;
    }
  }

  .recommendation {
    h4 {
      font-variant: small-caps;
      margin-top: 5px;
    }

    p {
      @extend .text-muted;

      font-style: italic;
    }

    .list {
      @extend .list-unstyled;
      @include block-listing;

      time {
        vertical-align: middle;
      }
    }
  }

  #reset_dashboard {
    margin-bottom: 10px;
  }

  .links {
    a {
      vertical-align: middle;
      background-color: #eceff4;
      float: left;
      position: relative;
      height: 110px;
      display: table-cell;
      width: 100%;
      margin-bottom: 20px;
      text-decoration: none;
      @include transition(background-color 1s 0s);

      &:hover {
        background-color: darken(#eceff4, 5%);

        .link-icon-questions {
          background-color: $dashboard-link-questions-bg-color-hover;
        }

        .link-icon-questions-followed {
          background-color: $dashboard-link-questions-followed-bg-color-hover;
        }

        .link-icon-answers {
          background-color: $dashboard-link-answers-bg-color-hover;
        }

        .link-icon-answers-followed {
          background-color: $dashboard-link-answers-followed-bg-color-hover;
        }

        .link-icon-comments {
          background-color: $dashboard-link-comments-bg-color-hover;
        }

        .link-icon-comments-followed {
          background-color: $dashboard-link-comments-followed-bg-color-hover;
        }
      }

      .link-icon {
        text-align: center;
        color: #fff;
        background-color: $dashboard-link-bg-color;
        position: absolute;
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 3em;
        @include transition(background-color 1s 0s);

        i {
          margin: 0;
          padding: 0;
          top: 50%;
          margin-top: -50%;
        }
      }

      .link-icon-questions {
        background-color: $dashboard-link-questions-bg-color;

        &:hover {
          background-color: $dashboard-link-questions-bg-color-hover;
        }
      }

      .link-icon-questions-followed {
        background-color: $dashboard-link-questions-followed-bg-color;

        &:hover {
          background-color: $dashboard-link-questions-followed-bg-color-hover;
        }
      }

      .link-icon-answers {
        background-color: $dashboard-link-answers-bg-color;

        &:hover {
          background-color: $dashboard-link-answers-bg-color-hover;
        }
      }

      .link-icon-answers-followed {
        background-color: $dashboard-link-answers-followed-bg-color;

        &:hover {
          background-color: $dashboard-link-answers-followed-bg-color-hover;
        }
      }

      .link-icon-comments {
        background-color: $dashboard-link-comments-bg-color;

        &:hover {
          background-color: $dashboard-link-comments-bg-color-hover;
        }
      }

      .link-icon-comments-followed {
        background-color: $dashboard-link-comments-followed-bg-color;

        &:hover {
          background-color: $dashboard-link-comments-followed-bg-color-hover;
        }
      }

      .link-text {
        color: #877676;
        margin-left: 110px;
        height: 100%;

        .vertical-table {
          width: 100%;
          height: 100%;
          display: table;

          .vertical-cell {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .number {
          text-align: center;
          font-size: 2.2em;
        }

        .description {
          text-transform: uppercase;
          text-align: center;
          font-size: 0.8em;
        }
      }
    }
  }
}
