@media screen and (min-width: $screen-md-min) {
  .remove-grid-md > * {
    float: none; width: auto;
  }
}

.dashboard-description{
  margin-bottom: 20px !important;
}

.dashboard {
  margin-top: 40px;

  .headline {
    margin-bottom: 20px;

    h1 {
      font-variant: small-caps;
    }

    p {
      @extend .text-muted;

      font-style: italic;
    }
  }

  .links {
    a {
      vertical-align: middle;
      background-color: #eceff4;
      float: left;
      position: relative;
      height: 110px;
      display: table-cell;
      width: 100%;
      margin-bottom: 20px;
      text-decoration: none;

      .link-icon {
        text-align: center;
        color: #fff;
        background-color: #2a9579;
        position: absolute;
        width: 110px;
        height: 100%;
        line-height: 80px;
        font-size: 3em;
        i {
          top: 50%;
          margin-top: -50%;
        }
      }

      .link-text {
        padding: 7px;
        color: #877676;
        text-align: left;
        margin-left: 110px;
        height: 100%;

        .number {
          text-align: center;
          font-size: 2.2em;
        }

        .description {
          text-transform: uppercase;
          font-size: 0.8em;
        }
      }
    }
  }
}
