// general

* {
  outline: none !important;
}

.label {
  border-radius: 0 !important;
}

.btn, .dropdown-menu, .modal-content, .well,
button, input, select, textarea {
  box-shadow: none !important;
}

address, form, nav, p, dl, ol, ul, table {
  &:last-child {
    margin-bottom: 0;
  }
}

// alerts

.alert:last-child {
  margin-bottom: 0;
}

.alert-dismissable .close {
  top: 0px;
  padding: 0px 5px;

  font-size: $font-size-base;

  i {
    line-height: $line-height-computed + 1px;
  }
}

// buttons

.btn.btn-primitive,
.btn.text-muted {
  @include box-shadow(none);
}

.btn-primitive {
  color: $text-color;
}

// dropdowns

.dropdown-menu li.active .text-muted {
  color: $component-active-color;
}

// forms

.form-control + .input-group-addon {
  border-left: none;
}

.input-group-addon, .input-group-btn {
  border-right-width: 0;

  &:last-child {
    border-right-width: 1px;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: $input-height-base;
}

// icons

.fa {
  cursor: default !important;
}

a .fa {
  cursor: pointer !important;
}

.fa-blank {
  display: none;
}

// modals

.modal-dialog {
  min-width: $screen-xs-min - 20px;
  width: 650px;

  color: $text-color !important;
}

.modal-sm { min-width: min($modal-sm - 20px, $screen-xs-min - 20px) }
.modal-md { min-width: min($modal-md - 20px, $screen-xs-min - 20px) }
.modal-lg { min-width: min($modal-lg - 20px, $screen-xs-min - 20px) }

// navigation

.navbar-brand {
  height: $navbar-height;
}

.nav-labels {
  display: block;
  position: relative;
  margin-bottom: 0 !important;

  > li {
    display: inline-block;
    float: left;
    margin-bottom: 2px;
    margin-right: $padding-base-horizontal / 2;

    > a {
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      white-space: pre-wrap;
    }
  }
}

.nav-pills {
  .badge {
    margin-top: 1px;
  }
}

// pagination

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: default;
}

// tables

@include table-row-variant('info', $state-info-bg);
