// general

.jumbotron {
  margin: 0;
  padding: 120px 0;

  h1 {
    margin: 0;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 0 0 128px $brand-info;
  }

  p {
    margin: 10px 0 30px 0 !important;
    padding: 0;
    font-size: 22.5px;
    text-align: center;
    text-shadow: 0 0 96px $brand-info;
    color: rgba($jumbotron-color, .25);
  }

  .btn {
    margin: 5px 0;
    padding: $padding-large-vertical * 1.25 $padding-large-horizontal * 1.35 $padding-large-vertical * 1.25 $padding-large-horizontal * 1.25;
    font-size: $jumbotron-font-size * 1.25;
    text-shadow: 0 0 128px $brand-info;
  }

  .text-left .btn {
    margin-left: -10px;
  }

  .text-right .btn {
    margin-right: -10px;
  }
}

.step {
  margin-top: $navbar-height;

  color: $text-muted;
  text-align: center;

  i {
    font-size: 80px;
  }

  h3 {
    margin-bottom: 30px;
  }
}

.home-featured-questions {
  padding: 0 20px;

  h2 {
    display: block;
    margin: 0 !important;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid $gray-lighter;
  }

  ol {
    display: block;

    li {
      padding: 5px 0;
    }
  }
}

.home-news {
  padding: 0 20px;

  h2 {
    display: block;
    margin: 0 !important;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid $gray-lighter;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.news-date {
  small {
    padding-top: $padding-small-vertical;
    font-size: $font-size-small;
    color: $gray-light;
  }
}
