// general

body {
  @include selection(rgba($brand-primary, 0.25));

  height: 100%;
  overflow-y: scroll;
}

.flash .alert:first-child {
  margin-top: $navbar-height;
}

.page-header {
  margin-top: 30px;
  padding-top: 20px;
}

.highlight-content {
  background-color: $brand-warning;
}

img {
  max-width: 100%;
  max-height: 100%;
}

// forms

.form-title {
  margin: (2 * $line-height-computed) 0 $line-height-computed;
  padding-bottom: $line-height-computed / 2;
}

.form-alert {
  margin-bottom: 15px;
}

.form-links {
  margin-top: 30px;
}

// images

.img-icon {
  @include square(20px);

  display: block;
  vertical-align: middle;
}

.img-muted {
  @include opacity(0.8)
}

// labels

.label-inverse {
  background: $gray-lighter;
  color: $gray;
}

// lists

.list-center {
  float: left;
  left: 50%;
  position: relative;

  text-align: center;

  > ul {
    @extend .list-unstyled;
    float: left;
    left: -50%;
    position: relative;

    margin: 0;

    & > li {
      float: left;
    }
  }
}

// navigation

.pagination-navigation {
  display: block;
  position: relatve;

  text-align: center;

  .pagination {
    display: inline-block;
  }
}

.tab-content {
  padding-top: 20px;
}

.pill-content, .pill-navigation, .tab-navigation {
  padding-top: $navbar-height;
}

// headings

h1, h2, h3 {
  margin-top: 2 * $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

// text

.text-capital {
  font-variant: small-caps;
}

.text-inverse {
  color: #fff;
}

.text-lead {
  margin-top: 20px;
}

.text-muted a, a.text-muted {
  @include color-variant(darken($text-muted, 12.5%), darken($text-muted, 25%));
}

.text-undecorated {
  text-decoration: none !important;
}

// sidebar

.sidebar {
  padding-left: 20px;

  &.affix-top {
    margin-top: 20px;
  }

  &.affix {
    top: 20px;
  }

  .nav > li > a {
    display: inline-block;
    padding: $padding-base-vertical $padding-small-horizontal;

    &:focus, &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  .nav .nav {
    display: none;
  }

  .nav .nav > li > a {
    padding-left: 20px;
  }

  li.active > .nav {
    display: block;
  }

  li.active > a {
    font-weight: bolder;
  }
}

// header

header {
  margin: 0 !important;

  .navbar-brand {
    font-variant: small-caps;
  }
}

// footer

footer {
  @include clearfix;

  margin: 100px 0 0 0;
  padding: 50px 0;
  overflow-x: hidden;

  background: $gray-lighter;
  color: $text-muted;
  text-align: center;

  a {
    @include color-variant($text-muted, $text-muted);
  }

  li a, li span {
    margin: 0 $padding-xs-horizontal;
  }

  li:after {
    content: '·';
  }

  li:last-child:after {
    content: '';
  }

  hr {
    @include clearfix;

    margin: 25px 0 0 0;
    border: none;
  }
}

.responsive-block {
  width: 100%;
  overflow-x: auto;
}
