// general

@mixin color-variant($default-color, $action-color) {
  color: $default-color;

  &:active, &:focus, &:hover {
    color: $action-color;
  }
}

@mixin background-fill($color) {
  background-color: $color;
  fill: $color;
}

@mixin block-iconing {
  font-size: $font-size-h2;
  text-align: center;

  a {
    display: inline-block;
    cursor: pointer;
  }
}

@mixin block-listing {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;

  list-style-type: none;

  > li {
    padding: $padding-large-vertical 0;
  }

  > li + li {
    border-top: 1px solid $gray-lighter;
  }
}

@mixin block-metric {
  display: block;
  margin-bottom: $padding-base-vertical;

  font-size: $metric-font-size;
  text-align: center;

  &:active, &:focus, &:hover {
    text-decoration: none;
  }

  &.text-muted {
    color: $text-muted;
  }
}

@mixin block-metric-value {
  display: block;
  margin-top: $padding-base-vertical;

  font-size: $metric-value-font-size;
  text-align: center;
}

@mixin nested-block-listing {
  display: block;
  position: relative;
  margin: 10px 0 !important;
  padding-left: 0;
  border-top: 1px dashed $gray-lighter;
  border-bottom: 1px dashed $gray-lighter;

  list-style-type: none;

  > li {
    padding: $padding-base-vertical 0;
  }

  > li + li {
    border-top: 1px dashed $gray-lighter;
  }

  color: $text-muted;
}

@mixin selection($background) {
  ::selection {
    background: $background;
    text-shadow: none;
  }

  ::-moz-selection {
    background: $background;
    text-shadow: none;
  }
}

@mixin toggle-block-iconing($action-class, $default-color, $action-color, $helper-color: $gray-light) {
  @include block-iconing;

  a {
    @include color-variant($default-color, $action-color);
  }

  a.#{$action-class} {
    @include color-variant($action-color, $default-color);
  }

  span {
    color: $helper-color;
  }
}

// specific

@mixin block-comments {
  @include nested-block-listing;
}

@mixin block-labeling($action-class, $default-color, $action-color) {
  @include toggle-block-iconing($action-class, $default-color, $action-color, $action-color);

  font-size: $font-size-h1;
}

@mixin block-evaluating($class) {
  @include toggle-block-iconing(#{$class}-evaluated, $gray-light, $brand-warning);
}

@mixin block-evaluations {
  @include nested-block-listing;
}

@mixin block-favoring($class) {
  @include toggle-block-iconing(#{$class}-favored, $gray-light, $brand-warning);

  font-size: $font-size-h1;
}

@mixin block-following($class) {
  @include toggle-block-iconing(#{$class}-followed, $gray-light, $brand-primary);
}

@mixin block-voting($class) {
  @include toggle-block-iconing(#{$class}-voted, $gray-light, $brand-primary);

  div.#{$class}-votes-value span {
    color: $text-color;
  }
}

@mixin block-watching($class) {
  @include toggle-block-iconing(#{$class}-watched, $gray-light, $brand-primary);
}
