// collection

.notifications {
  @extend .activities;
}

.dropdown-notification {
  margin: 5px;
  padding: 5px;
}

.notification-read {
  opacity: 0.5;
}

.dropdown-notification:hover {
  text-decoration: none;
  color: #262626;
  background-color: whitesmoke;
}

.dropdown-notification > div > div > a {
  text-decoration: none;
}
