// collection

.notifications {
  @extend .activities;
}

.dropdown-notification-summary {
  margin: 4px 0px 3px 0px;
  padding: 0px 5px;
  min-width: 400px;
  font-size: 13px;
  line-height: 21px;
}

.dropdown-notification {
  margin: 0;
  padding: 4px 5px;
  min-width: 400px;
  font-size: 13px;
}

.notification-read {
  opacity: 0.5;
}

.dropdown-notification:hover {
}

.dropdown-notification-info {
  margin-top: -2px;
}

