// general

.new-question {
  margin-right: 15px;
}

.questions-filter {
  margin: 20px 0 0;

  #question-search {
    margin-bottom: 10px;
  }

  .input-group-btn {
    .btn.active {
      color: $link-color;
      background: none;
    }

    .btn.inactive {
      color: $text-muted;
    }

    &.fulltext-switch, &.tag-switch {
      .btn, .btn:active, .btn:focus, .btn:hover {
        border-color: $input-border;
      }
    }

    &.tag-switch .btn {
      border-right: none;
    }
  }

  #fulltext-search {
    #fulltext {
      border-right: none;
    }

    #fulltext-search-submit {
      margin-left: 0;
    }
  }

  #tag-search {
    #s2id_autogen1 {
      width: 100% !important;
    }
  }

  .question-title {
    margin-top: 0;
  }

  .category-description {
    padding: 0;
    margin-bottom: 20px;
  }

  .list {
    margin-bottom: 5px;
  }
}

.questions-index-header {
  margin-bottom: 20px;

  .title {
    margin-top: 0;
  }
}

.questions-controls {
}

.questions {
  > ol > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

// collection

.question-metric {
  @include block-metric;
}

.question-metric-value {
  @include block-metric-value;
}

.question-preview {
  padding-left: $grid-gutter-width;

  .evaluated {
    position: absolute;

    top: 0.15em;
    left: ($grid-gutter-width / 2) - 5px;

    font-size: 0.75em;
  }

  h3, h4 {
    margin-top: $padding-base-vertical;

    small {
      padding-top: $padding-small-vertical;
      font-size: $font-size-small;
    }
  }

  h3, h4, ul {
    margin-bottom: $padding-base-vertical;
  }
}

.question-author {
  text-align: center;

  small {
    display: block;
    margin: $padding-base-vertical 0;
  }
}

// member

#question {
  margin-top: $navbar-height;
}

#question-answers {
  margin-top: 5px;
}

#question-evaluations {
  > p {
    margin-bottom: 10px;
  }
}

.question-title {
  margin-top: 20px;

  i {
    vertical-align: top;
  }

  .label {
    vertical-align: middle;
    font-size: 0.44em;
  }
}

.question-main-content {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  position: relative;
}

.question-content {
  @include markdown-content;

  margin-bottom: 10px;
}

.question-details {
  display: inline-block;
  margin-bottom: 10px;

  color: $text-muted;
}

.question-voting {
  @include block-voting(question);
}

.question-favoring {
  @include block-favoring(question);

  .question-favorites-value {
    display: block;

    font-size: $font-size-h4;
  }
}

.question-evaluating {
  @include block-evaluating(question);
}

.question-watching {
  @include block-watching(question);
}

.question-answers {
  @extend .list-unstyled;

  > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

.question-answer {
  background-clip: content-box;
}

.question-comments {
  @include block-comments;
}

.question-evaluations {
  @include block-evaluations;
}

.question-same-category {
  display: inline-block;

  .nav-labels > li {
      margin-bottom: 0px;
  }
}

.question-type-description {
  color: $gray;
  font-style: italic;
  margin-top: -10px;
  padding-bottom: 15px;
}

.unread-resource-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  border-right: 2px solid #6099ca;
}

.row > .unread-resource-div {
  right: -10px;
}
