.simple-view {
  padding-top: 20px;

  #new_question {
    display: none;
  }

  .flash {
    .alert {
      &:first-child {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }

  form {
    padding: 10px 0;
    padding-bottom: 50px;

    #form-messages {
      margin-bottom: 10px;
    }
  }

  #questions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
  }
}
