// general

.user-square {
  @include text-overflow;

  margin: 20px 0;
  text-align: center;

  span {
    display: block;
  }

  .user-link {
    margin-top: 10px;
  }

  .user-link, .user-nick {
    width: 100%;
    height: 20px;

    @include text-overflow;
  }

  .user-following {
    display: inline;
  }

  &.comments-user-square {
    margin: 0;

    .user-link, .user-nick {
      font-size: $font-size-small;
    }

    .user-link {
      margin-top: 5px;
    }

    .user-link, .user-nick {
      height: 15px;
    }
  }
}

.user-avatar {
  @include center-block;
  @include square(96px);

  img {
    display: inline;
  }

  font-size: $font-size-small;
  text-align: center;
}

.user-avatar-inline {
  display: inline-block;
}

.user-avatar-xs {
  @include square(20px);
}

.user-avatar-sm {
  @include square(64px);
}

.user-avatar-lg {
  @include square(263px);
}

.user-avatar-icon {
  @include square(20px);

  display: inline-block;
  vertical-align: middle;
}

.user-questions, .user-answers, .user-favorites {
  @extend .list-unstyled;

  > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

// member

.user-following {
  @include block-following(user);

  display: inline;
  font-size: inherit;
}

// profile - side

.user-profile-avatar {
  margin-top: $navbar-height;

  .user-avatar {
    display: inline;
  }
}

.user-profile-title {
  @include text-overflow;

  margin-top: 20px;

  small {
    display: block;
    margin-top: $padding-small-vertical;
  }
}

.user-profile-details {
  @extend .list-unstyled;
  @include text-overflow;

  padding: 10px 0;
  border-top: 1px solid $list-group-border;
  border-bottom: 1px solid $list-group-border;

  li {
    padding: $padding-xs-vertical 0;
  }
}

.user-profile-metrics {
  div div {
    padding: 0;
  }
}

.user-metric {
  @include block-metric;
  @include color-variant($text-muted, $link-hover-color);

  &:active, &:focus, &:hover {
    .user-metric-value {
      color: $link-hover-color !important;
    }
  }
}

.user-metric-value {
  @include block-metric-value;

  color: $text-color;
}

.user-profile-about {
  @include markdown-content;
}

// profile - bar

.user-profile-bar {
  margin-top: $navbar-height;

  h1 {
    margin: 12.5px 0 0;
  }
}

.user-profile-bar-details {
  color: $text-muted;
}

// profile - activities

.user-activities-calendar {
  display: block;

  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $gray-lighter;
}
