// disable default icons

$icon-font-path: '/assets/';
$icon-font-name: 'fontawesome-webfont';

// layout

$screen-xs-min: 480px;

// links

$link-hover-color: $link-color;

// metrics

$metric-font-size: $font-size-small;
$metric-value-font-size: $font-size-h2;

// jumbotron

$jumbotron-padding: 100px;
$jumbotron-bg: lighten(#081218, 2.5%);
$jumbotron-color: #fff;
$jumbotron-heading-color: #fff;
$jumbotron-font-size: ceil($font-size-base * 1.25);

// border radius

$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;

$alert-border-radius:      $border-radius-base;
$badge-border-radius:      $border-radius-base;
$input-border-radius:      $border-radius-base;
$list-group-border-radius: $border-radius-base;
$nav-pills-border-radius:  $border-radius-base;
$navbar-border-radius:     $border-radius-base;
$pager-border-radius:      $border-radius-base;
$panel-border-radius:      $border-radius-base;
$thumbnail-border-radius:  $border-radius-base;

// state text

$state-success-text: $brand-success;
$state-info-text:    $brand-info;
$state-warning-text: $brand-warning;
$state-danger-text:  $brand-danger;


// dashboard icon
$dashboard-link-bg-color: #2a9579;

$dashboard-link-questions-bg-color:           darken(#29B7D3, 10%);
$dashboard-link-questions-followed-bg-color:  #29B7D3;
$dashboard-link-questions-bg-color-hover:           darken(#29B7D3, 20%);
$dashboard-link-questions-followed-bg-color-hover:  darken(#29B7D3, 10%);

$dashboard-link-answers-bg-color:             darken(#3CBC8D, 10%);
$dashboard-link-answers-followed-bg-color:    #3CBC8D;
$dashboard-link-answers-bg-color-hover:             darken(#3CBC8D, 20%);
$dashboard-link-answers-followed-bg-color-hover:    darken(#3CBC8D, 10%);

$dashboard-link-comments-bg-color:            darken(#FAC552, 10%);
$dashboard-link-comments-followed-bg-color:   #FAC552;
$dashboard-link-comments-bg-color-hover:            darken(#FAC552, 20%);
$dashboard-link-comments-followed-bg-color-hover:   darken(#FAC552, 10%);

// buttons
$btn-default-bg: #f5f5f5
