defaults: &defaults
  devise:
    key: TODO

  facebook:
    application:
      id: '308609915963601'
      secret: TODO

  mailer:
    username: TODO
    password: TODO
    alias: 'Askalot <askalot@fiit.stuba.sk>'

  secret_token: TODO

  enable:
    registrations: true
    passwords: true
    confirmations: true
    unlocks: true
    omniauth: true

  poll:
    default: 60

  slido:
    base: 'https://www.sli.do'
    cookies:
      PHPSESSID: TODO
      SESSIDCHECK: TODO

  url:
    organization: TODO
    site: TODO

  reputation:
    gold: 20
    silver: 35

development:
  <<: *defaults

test:
  <<: *defaults

  poll:
    default: 5

staging:
  <<: *defaults

demo:
  <<: *defaults

production:
  <<: *defaults

experimental:
  <<: *defaults
