defaults: &defaults
  devise:
    key: TODO
    require_email: true

  facebook:
    application:
      id: '308609915963601'
      secret: TODO
    enabled: true

  mailer:
    username: TODO
    password: TODO
    alias: 'Askalot <askalot@fiit.stuba.sk>'

  secret_token: TODO

  enable:
    groups: true
    registrations: true
    passwords: true
    confirmations: true
    unlocks: true
    omniauth: true

  poll:
    default: 60

  slido:
    base: 'https://www.sli.do'
    cookies:
      PHPSESSID: TODO
      SESSIDCHECK: TODO

  url:
    organization: 'https://github.com/AskalotCQA'
    site: 'http://AskalotCQA.github.io'

  reputation:
    gold: 20
    silver: 55

university: &university
  category_depths:
    -
      depth: 0
      label:
        en: Root
        sk: Root
      is_in_public_name: false
      is_visible: false
    -
      depth: 1
      label:
        en: Academic year
        sk: Školský rok
      is_in_public_name: false
      is_visible: false
    -
      depth: 2
      label:
        en: Grade
        sk: Ročník
      is_in_public_name: false
      is_visible: true
    -
      depth: 3
      label:
        en: Class
        sk: Predmet
      is_in_public_name: true
      is_visible: true
    -
      depth: 4
      label:
        en: Part
        sk: Časť
      is_in_public_name: true
      is_visible: true

mooc: &mooc
  oauth:
      consumer_key: TODO
      consumer_secret: TODO

  category_depths:
    -
      depth: 0
      label:
        en: Course
        sk: Kurz
      is_in_public_name: false
      is_visible: false
    -
      depth: 1
      label:
        en: Section
        sk: Kapitola
      is_in_public_name: false
      is_visible: true
    -
      depth: 2
      label:
        en: Subsection
        sk: Podkapitola
      is_in_public_name: true
      is_visible: true
    -
      depth: 3
      label:
        en: Unit
        sk: Vzdelávací objekt
      is_in_public_name: true
      is_visible: true

fiit_development:
  <<: *defaults
  <<: *university

fiit_test:
  <<: *defaults
  <<: *university

  poll:
    default: 5

  oauth:
    consumer_key: key
    consumer_secret: secret

fiit_staging:
  <<: *defaults
  <<: *university

fiit_demo:
  <<: *defaults
  <<: *university

fiit_production:
  <<: *defaults
  <<: *university

edx_development:
  <<: *defaults
  <<: *mooc

edx_test:
  <<: *defaults
  <<: *mooc

  poll:
    default: 5

edx_staging:
  <<: *defaults
  <<: *mooc

edx_demo:
  <<: *defaults
  <<: *mooc

edx_production:
  <<: *defaults
  <<: *mooc

lugano_production:
  <<: *defaults
  <<: *university

novisad_production:
  <<: *defaults
  <<: *university
