defaults: &defaults
  devise:
    key: TODO
    require_email: true

  facebook:
    application:
      id: '308609915963601'
      secret: TODO

  mailer:
    username: TODO
    password: TODO
    alias: 'Askalot <askalot@fiit.stuba.sk>'

  secret_token: TODO

  enable:
    registrations: true
    passwords: true
    confirmations: true
    unlocks: true
    omniauth: true

  poll:
    default: 60

  slido:
    base: 'https://www.sli.do'
    cookies:
      PHPSESSID: TODO
      SESSIDCHECK: TODO

  url:
    organization: TODO
    site: TODO

  reputation:
    gold: 20
    silver: 55

  oauth:
    consumer_key: test
    consumer_secret: secret

  category_depths:
    -
      depth: 0
      label:
        en: Root
        sk: Root
      is_in_public_name: false
      is_visible: false
    -
      depth: 1
      label:
        en: Academic year
        sk: Školský rok
      is_in_public_name: false
      is_visible: false
    -
      depth: 2
      label:
        en: Grade
        sk: Ročník
      is_in_public_name: false
      is_visible: true
    -
      depth: 3
      label:
        en: Class
        sk: Predmet
      is_in_public_name: true
      is_visible: true
    -
      depth: 4
      label:
        en: Part
        sk: Časť
      is_in_public_name: true
      is_visible: true

fiit_development:
  <<: *defaults

fiit_test:
  <<: *defaults

  poll:
    default: 5

fiit_staging:
  <<: *defaults

fiit_demo:
  <<: *defaults

fiit_production:
  <<: *defaults

edx_development:
  <<: *defaults

edx_test:
  <<: *defaults

  poll:
    default: 5

edx_staging:
  <<: *defaults

edx_demo:
  <<: *defaults

edx_production:
  <<: *defaults
