development:
  adapter: postgresql
  encoding: unicode
  database: askalot_development
  pool: 5
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: askalot_test
  pool: 5
  username: postgres
  password: postgres

staging:
  adapter: postgresql
  encoding: unicode
  database: askalot_staging
  pool: 5
  username: postgres
  password: postgres

demo:
  adapter: postgresql
  encoding: unicode
  database: askalot_demo
  pool: 5
  username: postgres
  password: postgres

production:
  adapter: postgresql
  encoding: unicode
  database: askalot_production
  pool: 5
  username: postgres
  password: postgres
