fiit_development:
  adapter: postgresql
  encoding: unicode
  database: askalot_fiit_development
  pool: 5
  username: postgres
  password: postgres

fiit_test:
  adapter: postgresql
  encoding: unicode
  database: askalot_fiit_test
  pool: 5
  username: postgres
  password: postgres

fiit_staging:
  adapter: postgresql
  encoding: unicode
  database: askalot_fiit_staging
  pool: 5
  username: postgres
  password: postgres

fiit_demo:
  adapter: postgresql
  encoding: unicode
  database: askalot_fiit_demo
  pool: 5
  username: postgres
  password: postgres

fiit_production:
  adapter: postgresql
  encoding: unicode
  database: askalot_fiit_production
  pool: 5
  username: postgres
  password: postgres

edx_development:
  adapter: postgresql
  encoding: unicode
  database: askalot_edx_development
  pool: 5
  username: postgres
  password: postgres

edx_test:
  adapter: postgresql
  encoding: unicode
  database: askalot_edx_test
  pool: 5
  username: postgres
  password: postgres

edx_staging:
  adapter: postgresql
  encoding: unicode
  database: askalot_edx_staging
  pool: 5
  username: postgres
  password: postgres

edx_demo:
  adapter: postgresql
  encoding: unicode
  database: askalot_edx_demo
  pool: 5
  username: postgres
  password: postgres

edx_production:
  adapter: postgresql
  encoding: unicode
  database: askalot_edx_production
  pool: 5
  username: postgres
  password: postgres

lugano_production:
  adapter: postgresql
  encoding: unicode
  database: askalot_lugano_production
  pool: 5
  username: postgres
  password: postgres

novisad_production:
  adapter: postgresql
  encoding: unicode
  database: askalot_novisad_production
  pool: 5
  username: postgres
  password: postgres