<div class="row">
  <div class="question-title col-md-10">
    {{truncate question.title length=40}}
  </div>

  <div class="col-md-2">
    <p class="text-muted pull-right">
      {{question.author.nick}}
    </p>
  </div>
</div>
