<% if questions.any? %>
  <ol class="user-questions">
    <% questions.each do |question| %>
      <%= render 'shared/users/profile/question', question: question %>
    <% end %>
  </ol>

  <%= paginate questions, params: { tab: :anonymous } %>
<% else %>
  <span class="text-muted"><%= t('user.show.no_questions') %></span>
  <%= icon_link_to :'question-circle', t('user.show.ask'), new_question_path, class: 'btn btn-success' %>
<% end %>
