<li class="page<%= ' active' if page.current? %>">
  <%= link_to page, page.current? ? '#' : url, rel: page.next? ? :next : page.prev? ? :prev : nil, remote: remote, data: local_assigns.has_key?(:data) ? data : {} %>
</li>
