<li>
  <div class="row">
    <div class="col-xs-8">
      <%= activity_icon_tag activity %>
      <%= activity_content activity %>
    </div>
    <div class="col-xs-4">
      <%= user_icon_tag activity.initiator_or_anonymous, tooltip_attributes(user_nick(activity.initiator_or_anonymous), placement: :bottom) %>
      <small>
        <%= tooltip_time_tag activity.created_at, class: :'text-muted', format: :normal, placement: :bottom %>
      </small>
    </div>
  </div>
</li>
