<% if activity.action != :update || (activity.created_at - activity.resource.created_at) > 5.minutes %>
  <div class="activity-on-dashboard">
    <%= link_to_activity_by_attributes activity, activity.initiator, activity.resource, body: tooltip_time_tag(activity.created_at, class: :'text-muted', format: :normal, placement: :bottom) %>
    <span class="text-muted">&middot;</span>
    <%= user_icon_tag activity.initiator_or_anonymous, tooltip_attributes(user_nick(activity.initiator_or_anonymous), placement: :bottom) %>
    <span class="text-muted">&middot;</span>
    <%= link_to_activity_by_attributes activity, activity.initiator, activity.resource, body: activity_icon_tag(activity) %>
  </div>
<% end %>
