<% if activities.any? %>
  <ol class="activities">
    <% activities.each do |activity| %>
      <%= render 'shared/activities/activity', activity: activity %>
    <% end %>
  </ol>
<% else %>
  <div class="alert alert-info">
    <%= t('home.dashboard.no_activity', date: l(current_user.dashboard_last_sign_in_at, format: :dashboard)).html_safe %>
  </div>
<% end %>
