
<div class="row">
  <div class="col-xs-12 col-md-6" role="main">

    <ol class="list-unstyled">
      <% changelogs.each do |changelog| %>
        <li id="<%= changelog.identifier %>" class="changelog">
          <h4>
            <%= changelog.title %>
            <%= changelog.version %>
            <div class="question-details">
              <%#= render 'administration/changelogs/editing', changelog: changelog %>
            </div>
          </h4>
        </li>
      <% end %>
    </ol>
  </div>
</div>
