<p>
  Vitajte na stránkach projektu <%= link_to 'Askalot', 'http://askalot.fiit.stuba.sk' %>,
</p>
<p>
  pre potvrdenie Vášho účtu, prosím kliknite nasledujúci odkaz:
  <%= link_to 'Potvrdiť registráciu', confirmation_url(@resource, confirmation_token: @token) %>.
</p>
<p>
  Registráciu je nutné potvrdiť najneskôr do dvoch dní, inak Vám systém neumožní sa prihlásiť.
</p>
<p>
  V prípade akýchkoľvek otázok nás <a href="mailto:askalot@fiit.stuba.sk">kontaktujte</a>.
</p>
<p>
  Ďakujeme za registráciu a tešíme sa, že Vás náš projekt oslovil.
</p>
