<p>
  Hello <%= @resource.login %>,
</p>
<p>
  someone required a change of your password. Click on this link for confirmation:
  <%= link_to 'Change password', edit_password_url(@resource, reset_password_token: @token) %>.
</p>
<p>
  If you did not require a change of your password, ignore this e-mail, please.
  Your password will not be changed until you click on the link.
</p>
<p>
  If you have any questions, please <%= mail_to 'askalot@fiit.stuba.sk', 'contact us' %>.
</p>
<p>
  Thank you for your understanding.
</p>
