<p>
  Dobrý deň <%= @resource.login %>,
</p>
<p>
  Váš účet bol zamknutý z dôvodu prekročenia maximálneho počtu pokusov o prihlásenie, ktoré skončili neúspešne.
  Pre odomknutie účtu kliknite na nasledujúci odkaz:
  <%= link_to 'Odomknúť účet', unlock_url(@resource, reset_password_token: @token) %>.
</p>
<p>
  V prípade akýchkoľvek problémov s prihlásením nás <%= mail_to 'askalot@fiit.stuba.sk', 'kontaktujte' %>.
</p>
<p>
  Ďakujeme za pochopenie.
</p>
