<% if comments.any? %>
  <div class="comments-section">
    <p class="text-muted">
      <%= t 'count_x.comment', count: comments.size %>
    </p>

    <ol class="<%= model %>-comments">
      <!-- TODO: the order could be probably removed -->
      <%= render partial: 'shared/commentables/comment', collection: comments.order(:created_at), as: :comment, locals: { commentable: commentable, remote: remote ||= false } %>
    </ol>
  </div>
<% end %>
