<% unless category.nil? %>
  <% if category_depths.include?(category.depth) %>
    <div class="cccc">
    <%= render 'category', category: category %>
    </div>
  <% end %>

  <% if category_depths.include?(category.depth) && category.children.any? %>
    <div class="category-group">
  <% end %>

  <% category.children.each do |c| %>
    <%= render 'categories', category: c, category_depths: category_depths %>
  <% end %>

  <% if category_depths.include?(category.depth) && category.children.any? %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= t('category.no_records') %>
  </div>
<% end %>
