<% unless category.nil? %>
  <% category.children.each do |category| %>
    <% if category_depths.include? category.depth %>
    <div class="category-group">
    <% end %>

      <% if category_depths.include? category.depth || category.children.nil? %>
        <%= render 'category', category: category %>
      <% end %>

      <% next if category.children.nil? %>

      <% if category_depths.include? category.depth %>
        <div class="category-group">
      <% end %>

      <% category.children.each do |category| %>
        <% if category_depths.include? category.depth || category.children.nil? %>
          <%= render 'category', category: category %>
        <% end %>

         <% next if category.children.nil? %>

         <div class="category-group">

         <% category.children.each do |category| %>
           <% if category_depths.include? category.depth || category.children.nil? %>
             <%= render 'category', category: category %>
           <% end %>
         <% end %>

         </div>
      <% end %>

    <% if category_depths.include? category.depth %>
      </div>
    <% end %>

    <% if category_depths.include? category.depth %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <%= t('category.no_records') %>
  </div>
<% end %>
