<div class="introducing jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1><%= default_title %></h1>
        <p class="text-lead">
          <em><%= @content || t('home.headline') %></em>
        </p>
      </div>
    </div>

    <% if @link.present? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%= icon_link_to :'bell-o', t('facebook.notification.continue'), @link, analytics_attributes(:notification, :list, :facebook).merge(class: 'btn btn-warning', fixed: true, target: :_blank) %>
          </div>
        </div>
      </div>
    <% end %>

    <% if Rails.module.university? # TODO(huna) pass link the same way as @link? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%= icon_link_to :tasks, t('facebook.notification.browse'), notifications_path, analytics_attributes(:notification, :list, :facebook).merge(class: 'btn btn-info', fixed: true, target: :_blank) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
