<li>
  <p>
    <%= render_markdown comment.text, redcarpet: { allowed_tags: [:code, :link], autolink: true } %>
    &ndash; <%= link_to_user comment.author %> <%= comment_creation_time comment %>
  </p>
</li>
