<% if comments.any? %>
  <span class="text-muted">
    <%= t 'count_x.comment', count: comments.size %>
  </span>

  <ol class="<%= model %>-comments">
    <% comments.each do |comment| %>
      <%= render 'commentables/comment', comment: comment %>
    <% end %>
  </ol>
<% end %>
