<li>
  <p>
    <%= comment_markdown comment %> &ndash;
    <%= link_to_user comment.author %>
    <%= comment_creation_time comment %>
    <%= render 'commentables/deleting', comment: comment %>
  </p>
</li>
