<div class="text-right update-settings-box">
  <button class="btn btn-default update-settings"
          data-wait="<%= t 'administration.category.index.wait' %>"
          data-success="<%= t 'administration.category.index.success' %>"
          data-url="<%= settings_administration_categories_path %>"
  ><%= t 'administration.category.index.update_settings' %></button>
</div>