@import 'mixins';
@import 'variables';

#new-answer {
  margin-top: 20px;
}

.answer-voting {
  @include block-voting;
}

.answer-labeling {
  font-size: $font-size-h1;
  text-align: center;

  a {
    @include action-coloring($gray-light, $state-success-text);
  }

  span {
    color: $state-success-text;
  }
}
