@import 'mixins';
@import 'variables';

// general

#new-answer {
  margin-top: 20px;
}

// member

.answer-voting {
  @include block-voting;
}

.answer-labeling {
  font-size: $font-size-h1;
  text-align: center;

  .answer-labeling-best {
    @include block-labeling(answer-labeled-best, $gray-light, $brand-success);
  }

  .answer-labeling-helpful {
    @include block-labeling(answer-labeled-helpful, $gray-light, $brand-warning);
  }

  .answer-labeling-verified {
    @include block-labeling(answer-labeled-verified, $gray-light, $brand-info);
  }

  span.text-muted {
    display: block;

    font-size: $font-size-h4;
  }
}

.answer-evaluating {
  @include block-evaluating(answer);
}

.answer-comments {
  @include block-listing;
}

.answer-evaluations {
  @include block-listing;
}
