@import 'mixins';
@import 'variables';

// general

.category-tags {
  margin-bottom: 6px;
}

// collection

.category-group {
  p {
    margin-bottom: 20px !important;
  }

  & + & {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid $hr-border;
  }
}
