// general

.new-document-form {
  margin: 0 0 45px;
}


// TODO (zbell) refactor
.document-header {
  margin-top: -5px;
}

.document-footer {
  margin-bottom: -15px;
}

.document-footer-border {
  margin-bottom: 5px;
}

.well-active {
  border-color: $brand-primary;
}
