@import 'mixins';
@import 'variables';

.evaluated {
  font-size: 0.5em;
}

.evaluated-bad {
  color: $brand-danger;
}

.evaluated-neutral {
  color: $text-muted;
}

.evaluated-good {
  color: $brand-success;
}
