// imports (order is significant)

@import 'mixins';
@import 'variables';

@import 'bootstrap';
@import 'datepicker/bootstrap';
@import 'gemoji/base';
@import 'markdown/base';
@import 'markdown/bootstrap';
@import 'select2/base';
@import 'select2/bootstrap';
@import 'tablesorter/bootstrap';
@import 'font-awesome';
@import 'jquery-textcomplete';

// general

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: $navbar-height;
}

.container > section:first-child {
  padding-top: $navbar-height;
}

section + section {
  padding-top: 0.5 * $navbar-height;
}

section#flash {
  padding-bottom: 0.5 * $navbar-height;
}

.pagination-navigation {
  display: block;
  position: relatve;

  .pagination {
    display: inline-block;
  }
}

.tab-content, .tab-navigation {
  padding-top: $navbar-height;
}

// text

.text-capital {
  font-variant: small-caps;
}

.text-inverse {
  color: #fff;
}

.text-lead {
  margin-top: 20px;
}

.text-muted a, a.text-muted {
  @include action-coloring(darken($text-muted, 12.5%), darken($text-muted, 25%));
}

// sidebar

.sidebar {
  margin-top: 35px;

  .nav > li > a {
    display: inline-block;

    &:focus, &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  .nav li.active > a {
    font-weight: bolder;
  }
}

// header

header {
  .navbar-brand {
    font-variant: small-caps;
  }
}

// footer

footer {
  margin: 100px 0 0 0;
  padding: 50px 0;

  background: $gray-lighter;
  text-align: center;
}
