// general

html {
  height: 100%;
  overflow-y: scroll;
}

.flash .alert:first-child {
  margin-top: $navbar-height;
}

.page-header {
  margin-top: $navbar-height;
}

.highlight-content {
  background-color: $brand-warning;
}

// forms

.form-title {
  margin: $navbar-height 0 30px;
  padding: 0;
}

.form-links {
  margin-top: 30px;
}

// images

.img-icon {
  @include square(20px);

  display: block;
  vertical-align: middle;
}

.img-muted {
  @include opacity(0.8)
}

// navigation

.pagination-navigation {
  display: block;
  position: relatve;

  .pagination {
    display: inline-block;
  }
}

.tab-content {
  padding-top: 20px;
}

.pill-content, .pill-navigation, .tab-navigation {
  padding-top: $navbar-height;
}

// text

.text-capital {
  font-variant: small-caps;
}

.text-inverse {
  color: #fff;
}

.text-lead {
  margin-top: 20px;
}

.text-muted a, a.text-muted {
  @include color-variant(darken($text-muted, 12.5%), darken($text-muted, 25%));
}

.text-undecorated {
  text-decoration: none !important;
}

// sidebar

.sidebar {
  margin-top: 40px;

  .nav > li > a {
    display: inline-block;
    padding: $padding-base-vertical $padding-small-horizontal;

    &:focus, &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  .nav li.active > a {
    font-weight: bolder;
  }
}

// header

header {
  margin: 0 !important;

  .navbar-brand {
    font-variant: small-caps;
  }
}

// footer

footer {
  margin: 100px 0 0 0;
  padding: 50px 0;

  background: $gray-lighter;
  text-align: center;
}
