// imports (order is significant)

@import 'mixins';
@import 'variables';

@import 'bootstrap';
@import 'datepicker/bootstrap';
@import 'gemoji/base';
@import 'markdown/base';
@import 'markdown/bootstrap';
@import 'select2/base';
@import 'select2/bootstrap';
@import 'tablesorter/bootstrap';
@import 'jquery-textcomplete';
@import 'textcomplete/bootstrap';
@import 'font-awesome';

// general

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: $navbar-height + 1px;
}

#flash .alert:first-child {
  margin-top: $navbar-height;
}

.page-header {
  margin-top: $navbar-height;
}

.pagination-navigation {
  display: block;
  position: relatve;

  .pagination {
    display: inline-block;
  }
}

.tab-content, .tab-navigation {
  padding-top: $navbar-height;
}

// forms

.form-title {
  margin: $navbar-height 0 30px;
  padding: 0;
}

.form-links {
  margin-top: 30px;
}

// text

.text-capital {
  font-variant: small-caps;
}

.text-inverse {
  color: #fff;
}

.text-lead {
  margin-top: 20px;
}

.text-muted a, a.text-muted {
  @include color-variant(darken($text-muted, 12.5%), darken($text-muted, 25%));
}

.text-undecorated {
  text-decoration: none !important;
}

// sidebar

.sidebar {
  margin-top: 40px;

  .nav > li > a {
    display: inline-block;
    padding: $padding-base-vertical $padding-small-horizontal;

    &:focus, &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  .nav li.active > a {
    font-weight: bolder;
  }
}

// header

header {
  .navbar-brand {
    font-variant: small-caps;
  }
}

// footer

footer {
  margin: 100px 0 0 0;
  padding: 50px 0;

  background: $gray-lighter;
  text-align: center;
}
