@import "bootstrap/mixins";

@mixin action-coloring($default-color, $action-color) {
  color: $default-color;

  &:active, &:focus, &:hover {
    color: $action-color;
  }
}

@mixin block-labeling($action-class, $default-color, $action-color) {
  a {
    @include action-coloring($default-color, $action-color);
  }

  a.#{$action-class} {
    @include action-coloring($action-color, $default-color);
  }

  span {
    color: $action-color;
  }
}

@mixin block-listing {
  margin: 5px 0;
  padding-left: 0;
  border-top: 1px dashed $gray-lighter;
  border-bottom: 1px dashed $gray-lighter;

  list-style-type: none;

  li {
    padding: $padding-base-vertical 0;
  }

  li + li {
    border-top: 1px dashed $gray-lighter;
  }

  color: $text-muted;
}

@mixin block-voting {
  text-align: center;

  a {
    display: inline-block;

    font-size: $font-size-h2;
  }

  span {
    display: block;

    font-size: $font-size-h2;
  }
}
