@import "twitter/bootstrap/mixins";

@mixin action-coloring($default, $other) {
  color: $default;

  &:active, &:focus, &:hover {
    color: $other;
  }
}

@mixin block-voting {
  text-align: center;

  a {
    display: inline-block;

    font-size: $font-size-h2;
  }

  span {
    display: block;

    font-size: $font-size-h2;
  }
}
