.questions{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.questions li
{
  padding: 11px;
}
.questions li + li
{
  border-top: 1px solid #EAEAEA;
}

.questions .statistic, .question-tags
{
  float: left;
  margin-right: 9px;
  text-align: center
}

.questions .question-time
{
  float: right;
}
.questions .statistic .stat-value
{
  font-size: 26px;
}

.questions .name
{
 font-size: 22px;
}