@import 'mixins';
@import 'variables';

// general

.questions-filter {
  margin: $navbar-height 0 10px;
}

.questions-controls {
}

.questions {
  & > ol {
    margin-top: 20px;
  }

  & > ol > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

// collection

.question-metric {
  display: block;
  margin-bottom: $padding-base-vertical;

  text-align: center;

  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

a.question-metric.text-muted {
  @include color-variant($text-muted, darken($text-muted, 12.5%));
}

.question-value {
  display: block;
  margin-top: $padding-base-vertical;

  font-size: $font-size-h3;
  text-align: center;
}

.question-preview {
  padding-left: $grid-gutter-width;

  .evaluated {
    position: absolute;

    top: 0.15em;
    left: ($grid-gutter-width / 2) - 5px;

    font-size: 0.75em;
  }

  h3, h4 {
    margin-top: $padding-base-vertical;
  }

  h3, h4, ul {
    margin-bottom: $padding-base-vertical;
  }
}

.question-author {
  text-align: center;

  small {
    display: block;
    margin: $padding-base-vertical 0;
  }
}

// member

#question {
  margin-top: $navbar-height;
}

#question-answers {
  margin-top: 20px;
}

#question-evaluations {
  & > p {
    margin-bottom: 10px;
  }
}

.question-content {
  margin-bottom: 10px;
}

.question-details {
  display: inline-block;
  margin-bottom: 20px;

  color: $text-muted;
}

.question-voting {
  @include block-iconing;
}

.question-favoring {
  font-size: $font-size-h1;
  text-align: center;

  a {
    @include color-variant($gray-light, $brand-warning);
  }

  a.question-favored {
    @include color-variant($brand-warning, $gray-light);
  }

  span {
    display: block;

    font-size: $font-size-h4;
  }
}

.question-evaluating {
  @include block-evaluating(question);
}

.question-answers {
  & > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

.question-answer {
  background-clip: content-box;
}

.question-comments {
  @include block-comments;
}

.question-evaluations {
  @include block-evaluations;
}

.question-watching {
  @include block-iconing;
}
