@import 'mixins';
@import 'variables';

// general

#questions {
  & > ol > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

// collection

.question-metric {
  display: block;
  margin-bottom: $padding-base-vertical;

  text-align: center;

  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

.question-value {
  display: block;
  margin-top: $padding-base-vertical;

  font-size: $font-size-h3;
  text-align: center;
}

.question-preview {
  padding-left: $grid-gutter-width;

  .evaluated {
    position: absolute;

    top: 0.15em;
    left: ($grid-gutter-width / 2) - 5px;

    font-size: 0.75em;
  }

  h3, h4 {
    margin-top: $padding-base-vertical;
  }

  h3, h4, ul {
    margin-bottom: $padding-base-vertical;
  }
}

.question-author {
  text-align: center;

  .user-avatar {
    display: inline-block;
    width: 64px;
  }

  small {
    display: block;
    margin: $padding-base-vertical 0;
  }
}

// member

.question-voting {
  @include block-iconing;
}

.question-favoring {
  font-size: $font-size-h1;
  text-align: center;

  a {
    @include action-coloring($gray-light, $brand-warning);
  }

  a.question-favored {
    @include action-coloring($brand-warning, $gray-light);
  }

  span {
    display: block;

    font-size: $font-size-h4;
  }
}

.question-evaluating {
  @include block-evaluating(question);
}

.question-answers {
  & > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-lighter;
  }
}

.question-comments {
  @include block-listing;
}

.question-evaluations {
  @include block-listing;
}
