.user-reputation {
  @include center-block;

  position: relative;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;

  > i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  &.user-reputation-negative {
    background: #666;

    > i {
      color: #ddd;
    }
  }

  &.user-reputation-none {
    display: none;
  }

  &.user-reputation-bronze {
    background: #cd7f32;
  }

  &.user-reputation-silver {
    background: #999;
  }

  &.user-reputation-gold {
    background: #ffd700;
  }
}

.user-reputation-sm {
  @include square(22px);

  margin-top: -22px;
  left: 22px;

  > i {
    font-size: 14px;
    margin-top: -7px;
  }
}

.user-reputation-md {
  @include square(28px);

  margin-top: -28px;
  left: 28px;

  > i {
    font-size: 18px;
    margin-top: -9px;
  }
}

.user-reputation-lg {
  @include square(32px);

  margin-top: -34px;
  margin-right: 2px;

  > i {
    font-size: 20px;
    margin-top: -10px;
  }
}

.user-reputation-inline {
  display: inline-block;
  margin: 0 2px;
}
