@import 'mixins';
@import 'variables';

// general

.user-square {
  @include text-overflow;

  margin: 20px 0;
  text-align: center;

  span {
    display: block;
  }
}

.user-avatar {
  display: inline-block;
  width: 96px;
  margin-bottom: 10px;
}

.user-avatar-small {
  height: 20px;
  vertical-align: middle;
}

// profile

img.list-group-item {
  border: none;
  padding: 0;
}
