@import 'mixins';
@import 'variables';

// general

.user-square {
  @include text-overflow;

  margin: 20px 0;
  text-align: center;

  span {
    display: block;
  }

  .user-link {
    margin-top: 10px;
  }
}

.user-avatar {
  @include center-block;
  @include square(96px);

  img {
    display: inline;
  }
}

.user-avatar-small {
  width: 20px;
  vertical-align: middle;
}

// profile

img.list-group-item {
  border: none;
  padding: 0;
}
