@import "twitter/bootstrap/variables";

// disable default icons

$icon-font-path: '';
$icon-font-name: '';

// jumbotron

$jumbotron-bg: #081218;
$jumbotron-color: #fff;
$jumbotron-heading-color: #fff;
