// footer

footer {
  @include clearfix;

  margin: 100px 0 0 0;
  padding: 10px 0;
  overflow-x: hidden;

  background: $gray-lightest;
  color: $text-muted;
  text-align: center;
  font-size: $font-size-small;

  a {
    @include color-variant($text-muted, $text-muted);
  }

  li a, li span {
    margin: 0 $padding-xs-horizontal;
  }

  li:after {
    content: '·';
  }

  li:last-child:after {
    content: '';
  }
}

// lists

.list-left, .list-right {
  position: relative;

  > ul {
    @extend .list-unstyled;
    position: relative;
    margin: 0;

    & > li {
      float: left;
    }
  }
}

// media

@media (min-width: $screen-sm) {
  .list-left, .list-right {
    left: 0%;

    > ul {
      float: left;
      left: 0%;
    }
  }

  .list-left {
    float: left;
  }

  .list-right {
    float: right;
  }
}

@media (max-width: $screen-sm) {
  .list-left, .list-right {
    float: left;
    left: 50%;

    > ul {
      left: -50%;
    }
  }
}
