// footer

@media (min-width: $screen-sm) {
  .list-left, .list-right {
    left: 0%;

    > ul {
      float: left;
      left: 0%;
    }
  }

  .list-left {
    float: left;
  }

  .list-right {
    float: right;
  }
}

@media (max-width: $screen-sm) {
  .list-left, .list-right {
    float: left;
    left: 50%;

    > ul {
      left: -50%;
    }
  }
}
