.cookies_not_enabled {
  display: none;
  padding: 1px 10px 10px 10px;
  text-align: center;
  background: #fff085;
  border: 2px solid darken(#f9e871, 15%);
  color: black;
}

#unit-view .row > .unread-resource-div {
  right: 5px;
}
