<p>
  <!-- TODO (zbell) add production URL -->
  Vitajte na stránkach projektu <%= link_to 'na&#x042f;uby'.html_safe, 'http://' %>,
</p>
<p>
  pre potvrdenie Vášho účtu, prosím kliknite nasledujúci odkaz:
  <%= link_to 'potvdiť registráciu', confirmation_url(@resource, confirmation_token: @token) %>.
</p>
<p>
  Registráciu je nutné potvrdiť najneskôr do dvoch dní, inak Vám systém neumožní sa prihlásiť.
</p>
<p>
  <!-- TODO (zbell) add contact email -->
  V prípade akýchkoľvek otázok nás <%= mail_to '', 'kontaktujte', encode: :hex %>.
</p>
<p>
  Ďakujeme za registráciu a tešíme sa, že Vás náš projekt oslovil.
</p>
