// collection

.administration-categories {
  margin-top: 15px;

  .add-category {
    cursor: pointer !important;
  }
}

.update-settings-box {
  margin-bottom: 15px;
}

#copy-categories-parent-id, #filter-categories-parent-id {
  display:inline-block;
  width: 74%;
}

.copy-categories, .filter-categories {
  display:inline-block;
  float: right;
}

#s2id_filter-categories_parent_id {
  width: calc(100% - 210px);
}
