// collection

.administration-categories {
  margin-top: 15px;

  .add-category {
    cursor: pointer !important;
  }
}

.update-settings-box {
  margin-bottom: 15px;
}

#copy-categories-parent-id {
  display:inline-block;
  width: 70%;
}

.copy-categories {
  display:inline-block;
  float: right;
}
