<% content_for :scripts do %>
  <script type="text/javascript">
    new CalHeatMap().init({
      itemSelector: "#user-<%= user.id %>-activities-calendar",
      data: "http://kamisama.github.io/cal-heatmap/datas-years.json",
      start: new Date(2000, 0),
      domain: "month",
      subDomain: "day",
      range: 12,
      cellSize: 11,
      legend: [20, 40, 60, 80],
      legendCellSize: 11,
      itemName: ["aktivita", "aktivity"],
      domainGutter: 0,
      domainLabelFormat: function(date) { return moment(date).format("MMM") }
    });
  </script>
<% end %>

<div id="user-<%= user.id %>-activities-calendar" class="user-activities-calendar"></div>
