<div class="text-right update-settings-box">
  <button class="btn btn-success update-settings"
          data-wait="<%= t 'teacher_administration.category.index.wait' %>"
          data-success="<%= t 'teacher_administration.category.index.success' %>"
          data-url="<%= shared.settings_administration_categories_path %>"
  ><%= t 'teacher_administration.category.index.update_settings' %></button>
</div>
