<h1><%= t 'teacher_administration.category.edit.title' %> - <%= @category.name %></h1>

<%= render partial: 'mooc/teacher_administration/categories/form', locals: { button: t('teacher_administration.category.edit.action') } %>
