<h1><%= t 'teacher_administration.category.create.title' %> <%= @parent.name %></h1>

<%= render partial: 'mooc/teacher_administration/categories/form', locals: { button: t('teacher_administration.category.create.action') } %>
