<%= render 'administration/categories/form', category: @category %>

<ol class="administration-categories">
  <% categories.each do |category| %>
    <li>
      <div class="row">
        <div class="col-xs-5">
          <%= link_to_category category %>
        </div>

        <div class="col-xs-5">
          <% category.tags.each do |tag| %>
            <span class="label label-inverse"><%= tag %></span>
          <% end %>
        </div>

        <div class="col-xs-2">
          <div class="pull-right">
            <%= render 'administration/categories/editing', category: category %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ol>
