<%= form_for assignment, url: [:administration, @assignment] do |f| %>
  <%= form_messages_for assignment %>

  <%= render 'shared/administration/assignments/form_body', f: f %>

  <button type="submit" class="btn btn-success">
    <%= t('administration.assignment.create.action') %>
  </button>
<% end %>
