<%= form_messages key: tab %>

<% if notifications.any? %>
  <ol class="notifications">
    <%= render partial: 'shared/notifications/notification', collection: notifications, as: :notification %>
  </ol>

  <%= paginate notifications, params: { tab: tab } %>
<% else %>
  <div class="alert alert-info">
    <%= t notifications.size.zero? && notifications.size != notifications.unread.size ? 'notification.all_read' : 'notification.none' %>
  </div>
<% end %>
