<%= form_for assignment, url: administration_assignments_path(assignment, tab: tab) do |f| %>
  <div class="form-group">
    TODO
  </div>

  <button type="submit" class="btn btn-success"><%= t('administration.assignment.create.action') %></button>
<% end %>
