<%= yield :footer %>

<footer>
  <div class="container">
    <!-- TODO(zbell) add links -->

    <ul class="list-inline text-center text-muted">
      <li><%= external_link_to t('footer.about') %></li>
      <li><%= external_link_to t('footer.documentation') %></li>
      <li><%= external_link_to t('footer.authors') %></li>
    </ul>

    <p class="text-center text-muted">
      Copyright 2013 na&#x042f;uby
    </p>
  </div>
</footer>
