<%= yield :footer %>

<footer>
  <div class="container">
    <p class="text-center text-muted">
      Copyright 2013 Rastislav Dobšovič, Marek Grznár, Jozef Harinek, Samuel Molnár, Peter Páleník, Dušan Poizl, Pavol Zbell.
      <br class="visible-md visible-lg" />
      <a href="http://stuba.sk">Slovenská technická univerzita v&nbsp;Bratislave</a>,
      <a href="http://fiit.stuba.sk">Fakulta informatiky a&nbsp;informačných technológií</a>,
      <a href="http://fiit.stuba.sk/~bielik/courses/tp-slov">Tímový projekt&nbsp;2013/14</a>
    </p>
  </div>
</footer>
