<% if user_signed_in? && contexts.size > 1 %>
  <div id="context-change" data-current="<%= Shared::Context::Manager.context_category.uuid %>">
    <%= select_tag :context, options_for_select(contexts.map { |t| [t.name, t.uuid] }, Shared::Context::Manager.context_category.uuid) %>
  </div>
<% end %>
