<% if user_signed_in? && contexts.size > 1 %>
  <div id="context-change">
    <%= select_tag :context, options_for_select(contexts.map { |t| [t.name, url_for(params.merge(context: t.name, only_path: false))] }, Shared::Context::Manager.current_context) %>
  </div>
<% end %>
