<% if user_signed_in? && contexts.size > 1 %>
  <div id="context-change" data-current="<%= @context %>">
    <%= select_tag :context, options_for_select(contexts.map { |t| [t.name, t.id, {'data-url' => url_for(params.merge(context: t.id))}] }, @context) %>
  </div>
<% end %>
